.top-nav {
    position: relative;
    top: 0;
    right: 0;
    background: green;
    padding: 10px;
    text-align: center; /* Pour centrer horizontalement les éléments de la barre de navigation */
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.top-nav ul li a {
    color: #fff;
    text-decoration: none;
}
