
.menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-size: 36px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
}

.menu {
    list-style-type: none;
    padding: 20px;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border: 1px solid transparent; /* Bordure initiale transparente */
    padding: 5px 10px; /* Ajouter un espacement autour du texte */
    transition: border-color 0.3s, background-color 0.3s; /* Animation de transition */
}

.menu li a:hover {
    border-color: #fff; /* Couleur de la bordure au survol */
    background-color: rgba(255, 255, 255, 0.1); /* Fond au survol */
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 36px;
    color: white;

}
